*
{
    margin: 0px;
    padding: 0px;
}

body
{
    background-color: #20364b;
}

@font-face 
{
    font-family: myFont;
    src: url(Vazir-Bold.ttf);
}

a
{
  background-color: transparent !important;
  cursor: pointer !important;
}

#T-Logo
{
  width: 100px;
  height: 100px;
}